[Unit]
Description=Startup the clockwork process
Requires=network.target

[Service]
Type=simple
User=vagrant

WorkingDirectory=/home/vagrant/skipio
ExecStart=bundle exec clockwork /home/vagrant/skipio/config/clock.rb

[Install]
WantedBy=multi-user.target