[Unit]
Description=sidekiq job queue instance
Requires=network.target

[Service]
Type=simple
User=vagrant

WorkingDirectory=/home/vagrant/skipio
ExecStart=bundle exec sidekiq -v -C /home/vagrant/skipio/config/sidekiq.yml

[Install]
WantedBy=multi-user.target