[Unit]
Description=webpack dev server instance
Requires=network.target

[Service]
Type=simple
User=vagrant

WorkingDirectory=/home/vagrant/skipio
ExecStart=./bin/webpack-dev-server

[Install]
WantedBy=multi-user.target