[Unit]
Description=webpack dev server instance
Requires=network.target

[Service]
Type=simple
User=vagrant

WorkingDirectory=/home/vagrant/skipio
ExecStart=/home/vagrant/skipio/bin/webpack-dev-server --public 0.0.0.0:8080

[Install]
WantedBy=multi-user.target